# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
target/
.mvn/
mvnw
mvnw.cmd

## Jenkis config
docker/gamesapp_ci_env/jenkins/data/*.xml
docker/gamesapp_ci_env/jenkins/data/*.enc
docker/gamesapp_ci_env/jenkins/data/*.key
docker/gamesapp_ci_env/jenkins/data/*.*secret
docker/gamesapp_ci_env/jenkins/data/init.groovy.d
docker/gamesapp_ci_env/jenkins/data/logs
docker/gamesapp_ci_env/jenkins/data/nodes
docker/gamesapp_ci_env/jenkins/data/secrets
docker/gamesapp_ci_env/jenkins/data/updates
docker/gamesapp_ci_env/jenkins/data/userContent
docker/gamesapp_ci_env/jenkins/data/war
docker/gamesapp_ci_env/jenkins/data/.owner
docker/gamesapp_ci_env/jenkins/data/queue.xml.bak
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-master/builds
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-master/lastStable
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-master/lastSuccessful
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-master/nextBuildNumber
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-master/workspace
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-develop/builds
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-develop/lastStable
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-develop/lastSuccessful
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-develop/nextBuildNumber
docker/gamesapp_ci_env/jenkins/data/jobs/spring-boot-games-app-develop/workspace
docker/gamesapp_ci_env/jenkins/data/users/*99